<div fxLayout="column" class="wrapper" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap=20px>
    <button mat-button (click)="addWidget()">Add widget 1</button>
    <button mat-button>Add widget 2</button>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutWrap="wrap">
    <app-widget-container></app-widget-container>
    <!-- Dynamic template for each new widget -->
    <ng-template #dynamicWidget let-widgetData="data">
      <app-widget1 [data]="widgetData"></app-widget1>
    </ng-template>
  </div>
</div>
