<div fxLayout="column" class="wrapper" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutGap=20px>
    <button mat-button (click)="addWidget()">Add widget 1</button>
    <button mat-button>Add widget 2</button>
  </div>
  <div fxLayout="row" fxLayoutGap="10px" fxLayoutWrap="wrap">
    <app-widget [template]="dynamicWidget" [dataContext]="widgetNum"></app-widget>
    <ng-template #dynamicWidget let-widgetNumber="data">
      <app-widget1 [widgetNumber]="widgetNumber"></app-widget1>
    </ng-template>
  </div>
</div>
